<!DOCTYPE html>
<html>
<head>
<title>BNK48 SHOP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
<img src =  "BG.png" width="auto" height="auto">
<div class="topnav">
    <a href="/">HOME</a>
    <a href="/list">PRODUCT</a>
    <ul class="nav navbar-nav navbar-right">
           <a href="/insert">ADD PRODUCT</a>
    </ul>
</div>
  </div>
<style>
h1{
    font-family:Hammer Thin; 
}
body {
  margin: 0;
  font-size: 20px;
  font-family: Hammer Thin ;
}
.topnav {
    overflow: hidden;
    background: #FFF5EE;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #FFB6C1;
    color: black;
}
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}  
    body {
        background-image: url("wq.jpg");
        background-repeat: repeat;
    }
    </style>
</head>
<body>
<div class="container">
<div class="page-header">

</div>
<div class="row">

<table class="table">
<thead class="thead-inverse">
<tr>
<th>No.</th>
<th>SET</th>
<th>PRODUCT.</th>
<th>PDDescription</th>
<th>Price</th>
<th>Product Status</th>

</tr>
</thead>
<tbody>
<% 
province = ["PHOTOSET","PHOTOBOOK","CD"];
for(var i=0; i<data.length; i++){
no=i+1;
id=data[i].id;
PicProduct=data[i].PicProduct
PRODUCT=data[i].PRODUCT;
PDDescription=data[i].PDDescription;
Price=data[i].Price;
p=data[i].province;
sex=data[i].sex;
if (sex=="M") {
    sex_view="In stock";
}else{
    sex_view="Out stock";
}
%>

<tr>
<th scope="row"><%=no%></th>
<td><%=PicProduct%></td>
<td><%=province[p]%></td>
<td><%=PDDescription%> </td>
<td><%=Price%></td>
<td><%=sex%></td>


<td>
<a class="btn btn-success" href="/update/<%=id%>" role="button">Update</a>
<a class="btn btn-danger" href="/delete/<%=id%>" 
role="button" onclick="return confirm('Do you want to delete?');">Delete</a>
</td>
</tr>
<% } // end for%>
</tbody>
</table>
</div>


</div>
<script src="jquery-3.2.1.slim.min.js" ></script>
<script src="popper.min.js" ></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
<br><br>
<img src =  "botton.png" width="auto" height="auto">